<div class="row border-bottom" 
style="
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
">
    <div class="col-6">
        <div>
            <h4><b>Title: </b>{{job['title']}}</h4>
        </div>
        <div>
            {% if 'Location' in job%}
            <b>Location: </b>{{job['Location']}}
            {% endif %}
        </div>
        <div>
            {% if 'salary' in job %}
            <b>salary: </b>{{job['salary']}}
            {% endif %}
        </div>
    </div>
    <div class="col-6" style="display: flex; justify-content: flex-end;">
        <a 
        href="/job/{{job['id']}}"type="button" class="btn btn-primary">Apply</a>
    </div>
</div>